@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Play:wght@700&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    
}
body{
    background: rgb(134, 20, 20);
background: linear-gradient(87deg, rgb(102, 17, 17) 0%, rgb(37, 73, 33) 74%);
}

.start-btn{
    width: 200px;
    height: 60px;
}

.wrap-btn{
    text-align: center;
    margin-top:50px;

}



.cristiano1{
max-width: 28%;
min-width: 360px;
flex: 2;

}

.front-pics{
    position: fixed;
    display: flex;
    bottom: 0;
    width: 100%;
    text-align: center;
    justify-content: space-around;
    
}

.preGame{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

  
  .animated-button1 {
    background: linear-gradient(-30deg, #3d0b0b 50%, #2b0808 50%);
    padding: 20px 40px;
    margin: 12px;
    display: inline-block;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
    overflow: hidden;
    color: #f7d4d4;
    font-size: 20px;
    letter-spacing: 2.5px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
            box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  }
  
  .animated-button1::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #ad8585;
    opacity: 0;
    -webkit-transition: .2s opacity ease-in-out;
    transition: .2s opacity ease-in-out;
  }
  
  .animated-button1:hover::before {
    opacity: 0.2;
  }
  
  .animated-button1 span {
    position: absolute;
  }
  
  .animated-button1 span:nth-child(1) {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: -webkit-gradient(linear, right top, left top, from(rgba(43, 8, 8, 0)), to(#d92626));
    background: linear-gradient(to left, rgba(43, 8, 8, 0), #d92626);
    -webkit-animation: 2s animateTop linear infinite;
            animation: 2s animateTop linear infinite;
  }
  
  @keyframes animateTop {
    0% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
    100% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
  }
  
  .animated-button1 span:nth-child(2) {
    top: 0px;
    right: 0px;
    height: 100%;
    width: 2px;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(43, 8, 8, 0)), to(#d92626));
    background: linear-gradient(to top, rgba(43, 8, 8, 0), #d92626);
    -webkit-animation: 2s animateRight linear -1s infinite;
            animation: 2s animateRight linear -1s infinite;
  }
  
  @keyframes animateRight {
    0% {
      -webkit-transform: translateY(100%);
              transform: translateY(100%);
    }
    100% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    }
  }
  
  .animated-button1 span:nth-child(3) {
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: -webkit-gradient(linear, left top, right top, from(rgba(43, 8, 8, 0)), to(#d92626));
    background: linear-gradient(to right, rgba(43, 8, 8, 0), #d92626);
    -webkit-animation: 2s animateBottom linear infinite;
            animation: 2s animateBottom linear infinite;
  }
  
  @keyframes animateBottom {
    0% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
    100% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
    }
  }
  
  .animated-button1 span:nth-child(4) {
    top: 0px;
    left: 0px;
    height: 100%;
    width: 2px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(43, 8, 8, 0)), to(#d92626));
    background: linear-gradient(to bottom, rgba(43, 8, 8, 0), #d92626);
    -webkit-animation: 2s animateLeft linear -1s infinite;
            animation: 2s animateLeft linear -1s infinite;
  }
  
  @keyframes animateLeft {
    0% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    }
    100% {
      -webkit-transform: translateY(100%);
              transform: translateY(100%);
    }
  }

.copyright{
    flex: 0.5;

}
.score{
    flex: 0.5;
    
}



.golden{
    letter-spacing: 5px;
    font-size: 40px;
    font-weight: bold;
    background-image: linear-gradient(
     to right,
     #462523 0,
            #cb9b51 22%, 
     #f6e27a 45%,
     #f6f2c0 50%,
     #f6e27a 55%,
     #cb9b51 78%,
     #462523 100%
     );
    color:transparent;
    -webkit-background-clip:text;

}

.golden1{
    font-family: "Black Ops One";
    letter-spacing: 5px;
    font-size: 70px;
    font-weight: bold;
    background-image: linear-gradient(
     to right,
     #462523 0,
            #cb9b51 22%, 
     #f6e27a 45%,
     #f6f2c0 50%,
     #f6e27a 55%,
     #cb9b51 78%,
     #462523 100%
     );
    color:transparent;
    -webkit-background-clip:text;

}

@media screen and (max-width: 1416px) {
  .golden1 {
    font-size: 60px;
  }
 
}

@media only screen and (max-width: 1184px) {
  .golden1 {
    font-size: 50px;
  }
}

@media only screen and (max-width: 1054px) {
  .golden1 {
    font-size: 40px;
  }
}



.gh-link{
  text-decoration: none;
  flex: 0.5;
  
}

.gh-text:hover span{
  transition: 1s;
  text-shadow: 3px 3px 30px rgba(255, 255, 0, 1);
}


.grid-cont {
  display: grid;
  grid-template-columns: 16.56% 16.56% 16.56% 16.56% 16.56% 16.56%;
  grid-template-rows: 50% 50% 50% 50% 50% 50%;
  margin: auto;
  width: 80%;
  height: 80%;
  align-self: center;

}

.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-align: center;
  width: 85%;
  height: 85%;
  overflow: hidden;
  margin: 10%; 
  transition: 0.2s;

}

.player-pic{
  width: 100%;
  height: 100%;
  object-fit: cover;
 
}

.grid-item:hover{
  -webkit-box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 5px 5px 15px 5px rgba(0,0,0,0);
}

.curr-score{
  margin: auto;
  height: 30%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game{
  width: 100%;
  height: 100%;
  text-align: center;
}

.cont-cont{
 text-align: center;

}

.win-msg{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.win-msg div{
  margin: 0;
}

.win-msg img{
  height: 60%;
}

.lose-msg{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.lose-msg div{
  margin: 0;
}

.lose-msg img{
  height: 60%;
}



.card{
  width: 70%;
  height: 70%;
  border: 1px solid white;
  text-align: bottom;
  font-size: 90px;
  color: #fff;
  z-index: 1;
}

.cover{
  width:100%;
  height: 100%;
  top:0;
  left:-100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  transition:400ms ;
  background: black;
  
}

.cover.active{
  left:0;
  transition: 400ms;
  
}

